.bannerSection {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.textArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 500px;
  height: 100%;
}

.textArea h1 {
  font-size: 65px;
  letter-spacing: 10px;
  margin-bottom: 10px;
}

.textArea p {
  margin: 10px 0;
  color: #444;
  font-size: 18px;
}

.price {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 27px;
  margin: 20px 0;
}

.newPrice {
  color: black;
  font-weight: bold;
}

.oldPrice {
  text-decoration: line-through;
  color: gray;
}

.buttons {
  display: flex;
  gap: 15px;
  border-radius: 0;
  width:300px;
  justify-content: center;
}

.btnOutline {
  border: 1px solid rgb(0, 157, 255);
  background: none;
  border-radius: 0;
  color: rgb(0, 157, 255);
  padding: 10px 20px;
  cursor: pointer;
}

.btnFilled {
  background: rgb(0, 157, 255);
  color: white;
  border: none;
  border-radius: 0;
  padding: 10px 20px;
  cursor: pointer;
}

.image {
  max-height: 700px;
  object-fit: contain;
}


@media only screen and (max-width: 980px) {

  .bannerSection {
      flex-direction: column;
      gap: 40px;
      margin-top: 20px;
  }

}



@media only screen and (max-width: 1030px) {

  .image {
      max-height: 650px;
  }

}

@media only screen and (min-width: 980px) and (max-width: 1030px) {

  .image {
      max-height: 630px; 
  }

}

@media only screen and (max-width: 550px) {

  .textArea h1 {
      font-size: 40px;
  }

  .image {
      max-height: 400px;
  }

}

@media only screen and (max-width: 370px) {

  .textArea h1 {
      font-size: 30px;
  }

  .image {
      max-height: 300px;
  }

}