


.denimContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #f9f9f9;
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.denimImage {
  max-width: 100%;
  height: 700px;
}

.textWrapper {
  flex: 1;
  text-align: center;
}

.subtitle {
  letter-spacing: 3px;
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.title {
  font-size: 64px;
  font-weight: bold;
  color: #000;
  margin-bottom: 30px;
  line-height: 1.2;
}

.shopNowButton {
  padding: 16px 40px;
  background-color: #000;
  color: #fff;
  border-radius: 0;
  width:190px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
  transition: background-color 0.3s;
}

.shopNowButton:hover {
  background-color: #333;
}


@media only screen and (max-width: 980px) {

  .denimContainer {
      flex-direction: column;
      gap: 30px;
  }

}


@media only screen and (max-width: 550px) {

  .denimImage{
      height: 500px;
  }

  .title{
      font-size: 40px;
  }

}

@media only screen and (max-width: 430px) {

  .denimImage{
      height: 350px;
  }

  .title{
      font-size: 30px;
  }

}
